<div class="background">
  <div class="background-dimmer">
    <div class="ui {{isLoggedIn()?'five':'four'}} item tabs menu"> <!-- {{isLoggedIn()&&checkIfAdmin()?'five':'four'}} -->
      <a routerLink="home" routerLinkActive="active" class="item">Home</a>
      <a routerLink="books" routerLinkActive="active" class="item">Bücherladen</a>
      <a routerLink="cart" routerLinkActive="active" class="item">Warenkorb</a>
      <a *ngIf="isLoggedIn()&&!checkIfAdmin()"routerLink="myOrders" routerLinkActive="active" class="item">Meine Bestellungen</a>
      <a *ngIf="isLoggedIn()&&checkIfAdmin()" routerLink="administration" routerLinkActive="active" class="item">Administration</a>
      <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>

