
<div class="container ui middle aligned selection divided list">
  <h1>Administrationsbereich</h1>
  <h2>Bestellungen verwalten</h2>
  <p>Hier erhältst du eine Übersicht aller Bestellungen und kannst diese verwalten.</p>
  <div [routerLink]="'./orders'" class="ui olive fade animated button noMargin" tabindex="0">
    <div class="visible content">Bestellungen verwalten</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
  </div>
  <h2>Neues Buch hinzufügen</h2>
  <p>Hier kannst du neue Bücher zum Bücherladen hinzufügen.</p>
  <div [routerLink]="'./admin'" class="ui olive fade animated button noMargin" tabindex="0">
    <div class="visible content">Buch hinzufügen</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
  </div>
</div>